{% extends 'users/base.html' %}
{% load widget_tweaks %}

{% block content %}
<div>
    <h1 class="toggle-btn">Forgot Password?</h1>
</div>
<form id=" login" class="input-group" method="POST">
    {%csrf_token %}
<!--     <h4 class="toggle-btn">Please input your username</h4> -->
    <h4 class="toggle-btn">Please input your email</h4>
    <input type="text" name="email" class="input-field" placeholder="email" id="email">

    <div class="form-group">
        <button class="submit-btn" type="submit">Send Recovery Email</button>
    </div>
    <p class="text-muted"><a href="{% url 'register' %}">Don't have account?</a></p>
    <p class="text-muted"><a href="{% url 'login' %}">Already registered? Login</a></p>
</form>
{% endblock content %}