{% extends 'users/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div>
    <h1 class="toggle-btn">Change Password</h1>
</div>
<form method="post" class="input-group">{% csrf_token %}
    <div class="form-row field-password1">
        {{ form.new_password1.errors }}
        <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1" class="input-field" placeholder="New Password">
    </div>
    <div class="form-row field-password2">
        {{ form.new_password2.errors }}
        <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2" class="input-field" placeholder="Confirm new password">
    </div>
    <button class="submit-btn" type="submit" value="Change my password">Change my password!</button>
</form>
{% endblock content %}